/* reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

/* header\ */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem .5rem;
  font-size: 1.1rem;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  vertical-align: middle;
  margin: 1rem;
  display: inline;
}

header nav ul li a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.btn{
  font-size: 1.1rem;
  padding: .5rem 1.5rem;
  border: none;
  background-color: #0061ff; 
  color: white;
  cursor: pointer;
}

.btn-white{
  background-color: white;
  color: black;
}

/* main */

/* jumbo */

.jumbo{
  background-color: #b4d0e7;
  display: flex;
  justify-content: center;
}

.wider-container{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.jumbo h1{
  font-size: 5rem;
  font-weight: 900;
  padding: 4rem 0 2rem;
}

.jumbo .img-text{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.jumbo .img-text *{
  margin: 1rem 0;
}

.jumbo .fa-arrow-down{
  font-size: 3.5rem;
  margin-top: 4rem;
}

.jumbo img{
  height: 500px;
  position: absolute;
  top: 420px;
  right: 350px;
}

/* section info */

.info{
  padding-top: 200px;
}

.small-container{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info h2{
  font-size: 3rem;
}

.plan{
  padding-top: 20px;
  display: flex;
}

.plan .row-item{
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.plan .row-head{
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: .5rem;
}

.plan ul{
  list-style: none;
}

.row-item{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2rem;
}

.row-item span,
.row.item button,
.row-item ul,
.row-item li,
.row-item h3,
.row-item h4{
  padding: 1rem 0 1rem 1rem;
}

.row-item h3{
  font-size: 1.2rem;
}

.price{
  font-weight: bold;
}

.plan-expire{
  color: rgba(0, 0, 0, 0.4);
}

.row-item .btn{
  margin: 0 2rem;
}

.interline{
  padding: 0;
  margin-left: 2rem;
  width: 20%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

footer{}