*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem .5rem;
  font-size: 1.1rem;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  vertical-align: middle;
  margin: 1rem;
  display: inline;
}

header nav ul li a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.btn{
  font-size: 1.1rem;
  padding: .5rem 1.5rem;
  border: none;
  background-color: #0061ff; 
  color: white;
  cursor: pointer;
}

.btn-white{
  background-color: white;
  color: black;
}

main .jumbo{
  background-color: #b4d0e7;
  display: flex;
  justify-content: center;
}

.wider-container{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

main .jumbo h1{
  font-size: 5rem;
  font-weight: 900;
  padding: 4rem 0 2rem;
}

main .jumbo .img-text{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main .jumbo .img-text *{
  margin: 1rem 0;
}

main .jumbo .fa-arrow-down{
  font-size: 3.5rem;
  margin-top: 4rem;
}

main .jumbo img{
  height: 500px;
  position: absolute;
  top: 420px;
  right: 350px;
}


footer{}